    <h1>Welcome to Shoppinator</h1>
    <h3>What's the name of your shopping list?</h3>
    <form phx-submit="submit">
      <input type="text" name="name" placeholder="Enter a name" data-cy=table-name-input>
    </form>